.bordeAbajoGris{
    border-bottom: 1px solid #dadada;
}

.btnChats:hover{
    cursor: pointer;
    background-color: #dadada;
}
.flechaBack{
    background-color: #f6f6f6;
    height: 35px;
}
.btnCerrar{
    color: white;
    border-radius: 30px;
    padding: 6px 25px;
    font-size: 1rem;
    border: 1px solid #fff;
}

.selected, .selected:hover {
    background-color: #40B4E6;
    color: #fff;
}
/* Responsive Styles */
@media screen and (max-width: 767px) {
    .areaMsg{
        height: calc(100vh - 155px);
    }
}
